body {
	background-color: white;
}

a {
	text-decoration: none;
}

a:hover {
	color: rgb(145, 145, 145);
}

p, a, h2 {
	color: white;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

div {
	background-color: rgb(73, 73, 73);
	margin: 0 auto;
	width: 70%;
	border-radius: 20px;
	padding: 5px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.toiletPaperTycoon:hover {
	background-image: url("imgs/toiletPaperTycoon.png");
}

.vroomVroomPlane:hover {
	background-image: url("imgs/vroomVroomPlane.JPG");
}

.seamonsters:hover {
	background-image: url("imgs/seamonsters.png");
}

.wordSearch:hover {
	background-image: url("imgs/wordSearch.png");
}

.rocket:hover {
	background-image: url("imgs/rocket.PNG");
}

.FracCalc:hover {
	background-image: url("imgs/FracCalc.PNG");
}

.TicTac:hover {
	background-image: url("imgs/TicTac.PNG");
}

.hang:hover {
	background-image: url("imgs/hang.PNG");
}